body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 960px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: #404041;
  font-size: 20px; 
  text-align: center;
  width: 960px;
}

h1 {
  font-size: 50px;  
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  color: #ED458B;
}

article {
  width: 960px;
  position: relative;
}

button {
  height: 30px;
}

button:active {
  border: none;
  background-color: #929297
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #EB008B;
}

button:disabled {
  background-color: #D0D2D3
}

.pinkbttn {
  width: 150px;
  background-color: #EB008B;
  color: white;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playercontrolls {
  display: inline-block;
  width: 236px;
  text-align: center;
}

.bttnguess {
  display: inline-block;
  width: 150px;
  margin-bottom: 16px;
  color: #FFF;
  font-size: 16px;
  background-color: #929497;
  border-radius: 30px;
}

.bttnclear {
  display: inline-block;
  width: 150px;
  margin-bottom: 16px;
  color: #FFF;
  font-size: 16px;
  background-color: #929497;
  border-radius: 30px;
}

.bttnreset {
  width: 310px;
  margin: 16px 0px 16px 0px;
  color: #FFF;
  font-size: 16px;
  background-color: #929497;
  border-radius: 30px;
}

#section1 {
  position: absolute;
  left: 0px;
  width: 240px;
  height: 450px;
  text-align: center;
  background-color: #929497;
  border: solid 5px white;
  box-sizing: border-box;
}

#section2 {
  position: absolute;
  left: 240px;
  width: 480px;
  height: 450px;
  text-align: center;
}

#section3 {
  position: absolute;
  left: 720px;
  width: 240px;
  height: 450px;
  text-align: center;
  background-color: #929497;
  border: solid 5px white;
  box-sizing: border-box;
}

#section4 {
  position: absolute;
  top: 450px;
  left: 0px;
  height: 120px;
  width: 960px;
  background-color: #404041;
}

#titlenumber {
  color: #ED458B;
  padding-right: 15px;
}

#titleguesser {
  color: #E6E7E8;
  font-weight: lighter;
}

#userguess {
  font-size: 25px;
  text-align: center;
  width: 310px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 24px;
}

#lastguess {
  font-size: 150px;
  color: #EB008B;
  margin: -16px 0px -16px 0px;
}

#guessintro {
  margin: 0px;
}

#result {
  margin: 0px;
}























